
#header {
	
    border-bottom: 1px solid #000000;
}

#container {
	margin-top: 10px;
}

#content {
	display: block;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	
}

#separator {
	margin-bottom: 20px;
}

.navbar h2 {
	color: white;
}

.errors {
	color: red;
}
